$color__background-body:   #ededed;
$color__background-elements:   #ffffff;
$color__background-dropdown: #222222;
$color__background-sub-menu: #fcfcfc;
$color__background-screen: #f1f1f1;
$color__background-hr:     #e8e8e8;
$color__background-hr-invert:     #494949;
$color__background-input:  #f6f6f6;
$color__background-pagination:  #f6f6f6;
$color__background-pre:    #eee;

$color__bg-preloader-cover:   #ffffff;

$color__text-screen: #21759b;
$color__text-white: #ffffff;
$color__text-grey: #c7c7c7;
$color__text-input:  #666;

$color__border-button: #e0e0e2;
$color__border_invert: #4e4e4e;
$color__border-input:  #f6f6f6;
$color__border-abbr:   #666;
$color__border-table:  $color__background-hr;
$color__border-pre:    darken( $color__background-pre, 10% );

$radio_btn_bg: #222222;

$color__not-valid: #ff4451;
$color__valid:     #59bc6c;

/// social link color
$color__facebook: #02669a;
$color__twitter: #2aa9e0;
$color__google: #d3492c;
$color__linkedin: #0177b5;
$color__pinterest: #bd081c;