/**
 * variables-wootheme.scss
 * Governs the general look and feel of WooCommerce sections of stores using themes that do not
 * integrate with WooCommerce specifically.
 *
 */

/**
 *  Woo-Variables
 */
$woowhite_color: #ffffff;

$wooborder_color: #e8e8f8;

$wooborder_color_invert: #414141;

$woo_pink: #ff596d;

$woo_yellow: #ffc045;

$woo_black: #000000;

$woo_white: #ffffff;

$woo_blue: #02669a;

$woo_green: #59bc6c;

$woo_grey: #b9bdcd;

$woo_comment_bg: #f8f8f8;

$woo_stars_col: #d3ced2;

$woo_cart_item_bg: #f3f3f3;

$woo_payment_box_bg: #e9f8ff;

$woo_info_bg: #eff8f1;
$woo_info_color: #59bc6c;

$facebook-color: #3b5998;
$twitter-color: #2aa9e0;
$googleplus-color: #d3492c;
$linkedin-color: #0077b5;
$pinterest-color: #e63c7e;
$tumblr-color: #35465c;
$stumbleupon-color: #eb4924;
$vkontakte-color: #45668e;
$email-color: #168de2;