/* #Custom posts*/
.sidebar .custom-posts .post__cats,
.tm_pb_column_1_3 .custom-posts .post__cats,
.tm_pb_column_1_4 .custom-posts .post__cats,
.footer-area:not(.footer-area--fullwidth) .custom-posts .post__cats {
	font-weight: $body_font_weight;
}

.custom-posts .entry-meta .post__date a,
.custom-posts .entry-meta .post__comments a{
	color: $regular_text_color;
}

.custom-posts .entry-meta .post__cats,
.custom-posts .entry-meta .post__cats a{
	color: $regular_accent_color_1;
}

.custom-posts .entry-meta .post__cats a:hover,
.custom-posts .entry-meta .post__date a:hover,
.custom-posts .entry-meta .post__comments a:hover,
.custom-posts .entry-meta .post__comments a:hover span{
	color: $regular_accent_color_3;
}